<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303962247748-e1gvmo8ccvi6j7ktccn151b962qbl0sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303962247748-e1gvmo8ccvi6j7ktccn151b962qbl0sc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303962247748-2lgorv8ioomt826u5c3jhf8fb4cs0i05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbwtzc3DrtezALwoYTh_j4nDGOjJbgpLs</string>
	<key>GCM_SENDER_ID</key>
	<string>303962247748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ping</string>
	<key>PROJECT_ID</key>
	<string>ping-b6db7</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-b6db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303962247748:ios:adf8d34e83822d8fe8e211</string>
	<key>DATABASE_URL</key>
	<string>https://ping-b6db7.firebaseio.com</string>
</dict>
</plist>